<<<<<<< HEAD
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
=======
/* Outdated CSS */
body {
    font-family: Arial, sans-serif;
>>>>>>> 4045ea95c79b742470e7e1754a8a170feaec309e
    margin: 0;
    padding: 0;
}

h1 {
<<<<<<< HEAD
    font-family: Georgia, 'Times New Roman', Times, serif;
=======
>>>>>>> 4045ea95c79b742470e7e1754a8a170feaec309e
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

p {
<<<<<<< HEAD
    font-family: Verdana, Geneva, Tahoma, sans-serif;
=======
>>>>>>> 4045ea95c79b742470e7e1754a8a170feaec309e
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
<<<<<<< HEAD
    filter: drop-shadow(0 0 20px #121212);
    box-shadow: 0 0 20px #121212;
=======
>>>>>>> 4045ea95c79b742470e7e1754a8a170feaec309e
}

table {
    width: 100%;
    border-collapse: collapse;
}
