body {
    margin: 0;
    background-color: #bbb7b7;
    overflow-x:hidden;
}

header {
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(3, 3, 3, 0.76);
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: #c7e4e4;
}

nav {
    background-color: #F2E7D5;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem; 
    margin: 0px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: auto;
    }

    nav a {
        padding: 10px; 
        font-size: 0.9rem;
    }

    .image-gallery {
        grid-template-columns: 1fr;
    }
}

h1 { 
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px rgb(126, 122, 122);
    margin: 0; 
    font-size: 2rem;
    line-height: 60px; 
}

h2 {
    font-family: 'Merriweather', serif;
    text-shadow: 2px 1px gray;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
}

.image-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.image-card:hover {
    transform: scale(1.05);
}

.image-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-card h2 {
    margin: 10px;
    font-size: 1.5em;
}

.image-card p {
    margin: 10px;
    color: #555;
}

.image-card:nth-child(odd) {
    grid-column: 1;
}

.image-card:nth-child(even) {
    grid-column: 2;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}
